<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginPage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=True)%}
        {% if messages %}
            {% for category , message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Login</h3>
                        <form action="/login_professional" method="post">
                            <label for="name" class="form-label">Registered Name</label>
                            <input type="name" id="name" name="name" class='form-control'
                                placeholder="Enter your name" required>

                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" name="password" class="form-control"
                                placeholder="Enter your password" required>

                            <button type="submit" class="btn btn-primary w-100">Login</button>
                        </form>
                        <div class="text-center mt-3">
                            <p>Don't have an account? <a href="/professional/signup">Register</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class='text-center mt-5'>
        <p>&copy; 2024 Household Services App. All rights reserved</p>
    </footer>
</body>

</html>