<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Service</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True)%}
        {% if messages %}
            {% for category , message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class = "col-md-6">
                <div class = "card shadow">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Edit Service</h3>
                        <form action="{{ url_for('update_service', service_id=service.id) }}"method="POST">
                            <label for="name" class="form-label">NAME</label>
                            <input type="text" id="name" name="name" class="form-control" value="{{service.name}}"  required>

                            <label for="description" class="form-label">DESCRIPTION</label>
                        <input type="text" id="name" name="description" class="form-control" value="{{service.description}}" required>

                        <label for="price" class="form-label">PRICE</label>
                        <input type="number" id="price" name="price" class="form-control" value="{{service.base_price}}" required>
                        
                        <label for="time_required" class="form-label">TIME REQUIRED</label>
                        <input type="text" id="time_required" name="time_required" class="form-control" value="{{service.time_required}}" required>

                        <button type="submit" class="btn btn-primary w-100">Update</button>



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>